<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lja.sdn.mapper.AttackMapper">

    <select id="getTimeHosts" resultType="com.lja.sdn.entity.Attack">
        SELECT ANY_VALUE(switchId) switchId,ANY_VALUE(inPort) inPort,attackTime,COUNT(*) num from tb_attack GROUP BY attackTime ORDER BY attackTime DESC LIMIT 200;
    </select>

    <select id="get200Times" resultType="com.lja.sdn.entity.Attack">
         SELECT * from tb_attack ORDER BY attackTime DESC LIMIT 200;
    </select>

    <select id="getMonthAttack" resultType="com.lja.sdn.entity.Attack">
        SELECT DATE_FORMAT(attackTime,'%Y-%m-%d') as mday, count(*) as mcount from tb_attack WHERE attackTime BETWEEN SUBDATE(CURRENT_DATE,INTERVAL 1 MONTH) AND CURRENT_DATE GROUP BY mday ORDER BY mday DESC;
    </select>
</mapper>
